//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 28 18:03:44 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SEG_SEL<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "SEG_SEL<1>" LOCATE = SITE "P20" LEVEL 1;
COMP "SEG_SEL<2>" LOCATE = SITE "P19" LEVEL 1;
COMP "SEG_SEL<3>" LOCATE = SITE "P18" LEVEL 1;
COMP "SEG_SEL<4>" LOCATE = SITE "P16" LEVEL 1;
COMP "clk" LOCATE = SITE "P184" LEVEL 1;
COMP "control" LOCATE = SITE "P183" LEVEL 1;
COMP "place1<0>" LOCATE = SITE "P48" LEVEL 1;
COMP "place1<1>" LOCATE = SITE "P50" LEVEL 1;
COMP "place1<2>" LOCATE = SITE "P51" LEVEL 1;
COMP "place2<0>" LOCATE = SITE "P63" LEVEL 1;
COMP "place2<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "place2<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "action1<0>" LOCATE = SITE "P176" LEVEL 1;
COMP "action1<1>" LOCATE = SITE "P175" LEVEL 1;
COMP "action1<2>" LOCATE = SITE "P172" LEVEL 1;
COMP "action2<0>" LOCATE = SITE "P165" LEVEL 1;
COMP "action2<1>" LOCATE = SITE "P162" LEVEL 1;
COMP "SEG_DATA<0>" LOCATE = SITE "P10" LEVEL 1;
COMP "action2<2>" LOCATE = SITE "P161" LEVEL 1;
COMP "SEG_DATA<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "reset" LOCATE = SITE "P182" LEVEL 1;
COMP "SEG_DATA<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "SEG_DATA<3>" LOCATE = SITE "P5" LEVEL 1;
COMP "SEG_DATA<4>" LOCATE = SITE "P4" LEVEL 1;
COMP "SEG_DATA<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "SEG_DATA<6>" LOCATE = SITE "P9" LEVEL 1;
COMP "SEG_DATA<7>" LOCATE = SITE "P3" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

